/*
Design Name:  Blueball Reactive Dark2
Style Sheet: dark2.css
Created: 14, April, 2015
Last Modified: 15, May, 2015
Version: 1.0
Author: Blueball Design
www.blueballdesign.com
Copyright 2015 Blueball Design LLC USA/Charlie Lockhart, All Rights Reserved
*/

/* @group Global Styling */

/* BODY, HTML STYLING */

body, html {
	color: #d0d3dc;
	background-color: #313131;
}

/*GLOBAL LINK STYLING*/

a:link, a:visited {color: #f36533;}

a:hover {color: #f36533;}

/*GLOBAL PARAGRAPH, BLOCKQUOTE STYLING*/

blockquote {
	border-left: 4px solid #f36533;
	color: #ffffff;}

/*GLOBAL HEADLINE STYLING*/

h2, h3, h4 {
	color: #f36533;
}

h5 { 
	color: #ffffff; 
}

/*SITE MAP LINK STYLING*/

.sitemap-page a:link, .sitemap-page a:visited {
	color: #d0d3dc;
}.sitemap-page a:hover {	color: #f36533;}

/* @end */

/* @group Site Menu */

/* DESKTOP MENU BROWN COLOR STYLING */

#nav{
    background: #313131;
}
#nav a,
#nav span.in{
    color: #d0d3dc;
}
#nav a:hover,
#nav span.in:hover{
    color: #f36533;
}
#nav li.currentPage > a span.in,
#nav li.currentPage > span.in,
#nav li.currentParent > a span.in,
#nav li.currentParent > span.in,
#nav li.currentAncestor > a span.in,
#nav li.currentAncestor > span.in{
    color: #f36533; !important;
}

#nav > ul ul{
    background: rgba(49,49,49,0.88);
}

/*MOBILE MENU BROWN STYLING*/

@media (max-width: 768px) {

  	#nav{
        background: #313131;
    }
    #nav:before{
        border-bottom: 1px solid #919191;
        color: #d0d3dc;
    }
    /*#nav > ul > li{
          border-bottom: 1px solid #919191;
    }*/
  }

/* @end */

/* @group Add Main Banner For Reactive Dark Design */

#mainBanner {
	background: ##313131;
}

/* @end */

/* @group Title */

#title {
}

@media only screen and (max-width: 768px) {
#title {}
}

@media only screen and ( max-width: 480px ) {
#title {}
}

#title h1 {
	color: #f36533;
}

#title h1, #title h1 a {
	color: #f36533;
}

#title h1 a:hover {
	border: 0px;
    color: #d0d3dc;
}

#title #tagline {
    color: #d0d3dc;
}

/* @end */

/* @group Page-Top Header */

#page {
	background: #313131;
}

#page-content {
	border-top: 1px solid #616161;
}

/* @end */

/* @group Sidebar */

#sidebar {
	background-color: #313131;
}

/* @end */

/* @group Page Bottom */

#page-bottom {
	background-color: #313131;
	color: #d0d3dc;
	border-top: 1px solid #616161;
}

#page-bottom a:link, #page-bottom a:visited {
	color: #f36533;
}

#page-bottom a:hover {
	color: #f36533;
}

/* @end */

/* @group Pagelet */

.pagelet.bordered {
	border-top: 1px solid #616161;
}

.pagelet ul li a::before {
	color: #d0d3dc;
}

/* @end */

/* @group Blog-Article Page */

.article h3 a, .article h3 a:active, .article h3 a:focus {
	color: #f36533;
}

.article-info .continue-reading-link a:link:before,
.article-info .continue-reading-link a:visited:before {
	color: #d0d3dc;
}

.article-info .continue-reading-link a:link,
.article-info .continue-reading-link a:visited {
	color: #f36533;
}

.article-info .continue-reading-link a:hover {
	color: #f36533;
}

.timestamp:before {
    color: #d0d3dc;
}

.comments a:before {
    color: #d0d3dc;
}

.comments a {
	color: #f36533;}

/* @end */

/* @group Photo Grid */

#main .gridItem h3 a:hover {
	color: #f36533;
}

/* @end */

/* @group Single Photo Page */

#previous-photo a {
	background: url(dark2/leftarrow_grayd0d3dc_36.png) center left no-repeat;
}

#previous-photo a:visited {
	background: url(dark2/leftarrow_grayd0d3dc_36.png) center left no-repeat;
}

#previous-photo a:hover {
	background: url(dark2/leftarrow_dark2_36.png) center left no-repeat;
}

#next-photo a {
	background: url(dark2/rightarrow_grayd0d3dc_36.png) center right no-repeat;
}

#next-photo a:visited {
	background: url(dark2/rightarrow_grayd0d3dc_36.png) center right no-repeat;
}

#next-photo a:hover {
	background: url(dark2/rightarrow_dark2_36.png) center right no-repeat;
}

#photo-list {
	background: url(dark2/gridhome_grayd0d3dc_36.png) center center no-repeat;
}

#photo-list a {
	background: url(dark2/gridhome_grayd0d3dc_36.png) center center no-repeat;
}

#photo-list a:visited {
	background: url(dark2/gridhome_grayd0d3dc_36.png) center center no-repeat;
}

#photo-list a:hover {
	background: url(dark2/gridhome_dark2_36.png) center center no-repeat;
}

/* @end */

